selenium
beautifulsoup4
requests
tqdm
pymongo
pandas
sentence-transformers 
faiss 
transformers
faiss-cpu
langchain
langchain-huggingface
langchain-community
langchain-groq
python-dotenv
qdrant-client
langchain_qdrant 
rank-bm25
openai
langchain-openai